<!DOCTYPE html5>
<html>
<head>
  <meta charset="UTF-8">
  <title>Mi Página con Chat</title>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">
  <script>
    var config_data = JSON.parse('{{ config_data|tojson|safe }}');
</script>
  <script src="{{ url_for('static', filename='js/chat.js') }}"></script>
  <script src="
https://cdn.jsdelivr.net/npm/uuid@9.0.0/dist/index.min.js
"></script>

</head>
<body>

  <main>
    
    <div class="chat">
      <div class="chat_prompts", id="chat_prompts">

      </div>
      <div class="chat-container">
        
        <div class="chat-messages" id="chat-messages">

        </div>
        <div class="chat-input">
         
          <div class="input-container">
            <input type="text" id="message-input" class="input_text" placeholder="Escribe un mensaje...">
            <span class="underline"></span>
          </div>
          
          <button id="send-button" class="input-button">Enviar</button>
          <button id="ocultarTabla" class="input-button">OcultarTabla</button>

          <button id="clear-chats" class="input-button">Clear Chats</button>
        </div>
      </div>
    </div>
    <div id="tabla-container">
      <img class="salir-btn" id="salir-tabla" src="{{ url_for('static', filename='images/salir.png') }}" alt="Salir">
      
  </div>
  </main>


</body>
</html>
